# PAYMENT SERVICE #

# App
PROJECT_NAME=Payment_Service
DEBUG=True
APP_ENV=development
JWT_SECRET_KEY=secrets.token_urlsafe(32)

# Database Configuration
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=payment-db

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=kafka:9092 # Assumes kafka service name in docker-compose
KAFKA_PAYMENT_EVENTS_TOPIC=payment_events

SUBSCRIPTION_SERVICE_URL=http://subscription_service:8003

# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
