# SUBSCRIPTION SERVICE #

# App
PROJECT_NAME=Payment_Service
DEBUG=True
APP_ENV=development
SECRET_KEY=secrets.token_urlsafe(32)

# Database Configuration
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=payments

# RabbitMQ Configuration
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

AUTH_SERVICE_URL=http://auth_service:8000
SUBSCRIPTION_SERVICE_URL=http://subscription_service:8003

# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
